@import "_variables.scss";
@import "_functions.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Niramit', sans-serif;
	font-size: 14px;
	color: $color-text;
}

li {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	font-variant: small-caps;
}
h1 { font-size: 1.4em; margin: 2em 0 1em; letter-spacing: .5em; }
h2 { font-size: 1.2em; margin: 2em 0 1em; letter-spacing: .25em; }

main {
	padding: 1rem;
}

span.Separator {
	display: inline-block;
	background: $color-secondary;
	width: .5em;
	height: .5em;
	margin: 0 .5em;
}

.minorLabel {
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: .125em;
	color: $color-text-light;
}

.card {
	$subtle-shadow: subtle-3d-shadow($color-shadow, .5rem);

	padding: 1rem;
	box-shadow: $subtle-shadow;
	background-color: $color-white;

	&:hover {
		box-shadow: $subtle-shadow, glow($color-glow, .75rem);
	}
}

button {
	background-color: $color-primary-light;
	color: $color-text;
	padding: .5em;
	border: 2px solid $color-primary-dark;
	border-radius: .25em;
	cursor: pointer;
	box-shadow: subtle-3d-shadow();

	&:hover {
		background-color: $color-primary;
		color: $color-text-heavy;
	}
}
