// Colors
$color-primary: hsl(240, 40%, 85%);
$color-secondary: hsl(30, 60%, 70%);

$color-light: hsl(240, 30%, 95%);
$color-dark: hsl(60, 30%, 10%);

$color-white: #fdfdfd;
$color-black: #131313;

$color-shadow: transparentize($color-black, 0.85);
$color-glow: transparentize($color-secondary, 0.85);

$color-text: lighten($color-black, 40%);
$color-text-heavy: darken($color-text, 20%);
$color-text-light: lighten($color-text, 20%);

$color-primary-light: lightColor($color-primary);
$color-primary-dark: darkColor($color-primary);

@function lightColor($i_color) {
	@return lighten($i_color, 10%);
}
@function lighterColor($i_color) {
	@return lighten($i_color, 20%);
}

@function darkColor($i_color) {
	@return darken($i_color, 10%);
}
@function darkerColor($i_color) {
	@return darken($i_color, 20%);
}
