@import "_commons.scss";

.App {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to bottom, $color-light, $color-white);
}

.App-header {
  background-color: $color-primary;
  height: 4em;
  padding: 1em;
  color: $color-light;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $color-secondary .25rem 0 0 .25rem;
}

.App-title {
  font-size: 1.4em;
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 2em;
}


@import "_pages.scss";
